/* General properties */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    background-color: grey;
}


/* Players form */

form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out .7s;
    height: min-content;
}

.hiden {
    transform: translate(-50%, -250%);
    opacity: 0;
}

.names {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    border: 3px rebeccapurple solid;
    padding: 2em;
    border-radius: 1em;
    background-color: rosybrown;
}

input {
    margin: 1em;
    font-size: 1.3em;
    padding: .5em;
    background-color: white;
}

label {
    font-size: 1.3em;
    background-color: sandybrown;
    color: rebeccapurple;
    width: 40%;
    margin: 0 auto;
    padding: .5em;
}

.submitBtn {
    width: max-content;
    margin: 0 auto;
    padding: 1em 2em;
    cursor: pointer;
    background-color: rebeccapurple;
    color: sandybrown;
    font-weight: bold;
}

/* Board header */

h1 {
    width: fit-content;
    margin: 1em auto;
    font-size: 3em;
}


/* Gameplay */

.square {
    width: 10em;
    height: 10em;
    background-color: green;
    font-size: 1em;
    display: flex;
    text-align: center;
    align-items: stretch;
    cursor: pointer;
    border: 2px solid purple;
}

.square p {
    font-size: 6em;
    
    
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-rows: 10em 10em 10em;
    grid-template-columns: 10em 10em 10em;
    
   
    width: max-content;
    margin: 3em auto;
}

.win {
    width: 60vw;
    height: 70vh;
    margin: auto;
    background-color: thistle;
    color: tomato;
    font-size: 5em;
    font-weight: bold;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 1em;
}


/* Winnig message and restart game */

.invisible {
    z-index: -3;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.winner, .restart, .winning {
    background-color: thistle;
    margin: auto;
}

.win p {
    background-color: thistle;
    margin: auto;
}

.restart {
    font-size: .5em;
}